<div class="col-12">
	<h3 class="text-center">Basic information {{fullNameVal}}</h3>
	  <div class="form-group">
		<label for="inputFullName">Full Name</label>
		<input ng-model="fullName" type="text" class="form-control" id="inputFullName" placeholder="Enter full name">
	  </div>

	  <div class="form-group">
		<label for="inputDOB">Date of birth</label>
		<input ng-model="dob" type="text" class="form-control" id="inputDOB" placeholder="Password">
	  </div>

	  <div class="form-group">
		<label for="inputNationality">Nationality</label>
		<input ng-model="nationality" type="text" class="form-control" id="inputNationality" placeholder="Nationality">
	  </div>

	  <div class="form-group">
		<label for="inputLocation">Location</label>
		<input ng-model="location" type="text" class="form-control" id="inputLocation" placeholder="Enter your location">
	  </div>

	  <div class="form-group">
		<label for="inputGender">Gender</label>
		<input ng-model="gender" text="text" class="form-control" id="inputGender" placeholder="Select gender">
	  </div>

	  <button class="btn btn-primary mb-2" ng-click="$ctrl.saveAndContinue()">Next: sports</button>
	</div>

